body {
    background-color: rgb(199, 212, 224);
}

#signIn-form {
    margin-left: 50px;
    margin-right: 50px;
}

#main-jumbotron {
    background-image: url('../assets/brushed-alum-dark.png');  
    margin-top: 40px;
    opacity: .9;
}

#signIn {
    padding-bottom: 20px;
}

#userSignIn {
    padding-top: 30px;
}
