body {
    background-color: rgb(199, 212, 224);
}

#signup-jumbotron {
    background-image: url('../assets/brushed-alum-dark.png');  
    margin-top: 40px; 
}

#pi {
    padding-bottom: 20px;
}

#address {
    font-weight: bold;
}

#verification {
    padding-top: 30px;
}

#verification-header {
    padding-bottom: 10px;
}
